.weather_contain{
    padding: 0 20px;
    box-sizing: border-box;
    overflow-x: auto;
}
.sky{
    width:200px;
    height:30px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #1bd9fe;
    padding: 0 10px;
    box-sizing: border-box;
    caret-color:#d6555f;
    color: #d6555f;
    margin-bottom: 20px;
}
.sky::-webkit-input-placeholder{
    color: skyblue;
}
.searchSky{
    width:70px;
    height:30px;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color:#ff8482 ;
    color: #ffffff;
    margin-bottom: 20px;
}
.searchSky:hover{
    background-color: #009bf4;
}
.skyContain{
    width:100%;
    height:300px;
    background-image: url(../img/Sky.png);
    background-size: 100% 100%;
    min-width: 1200px;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.tips{
    color: #326bcc;
    margin-bottom: 20px;
    font-family: "华文彩云";
}
.skyH3{
    color: #ffffff;
    font-family: "华文彩云";
}
.wind,.cloud,.height,.low{
    width: 100%;
    height:30px;
    line-height: 30px;
    text-align:left;
    margin: 20px 0;
    color: #ffffff;
    font-family: "华文琥珀";
}